%table.table.table-condensed
  %tbody
    %tr
      %td= "#{t('payments.columns.student')}:"
      %td= payment.student.decorate.full_name
    %tr
      %td= "#{t('payments.columns.value')}:"
      %td= payment.decorate.value_str
    %tr
      %td= "#{t('payments.columns.date')}:"
      %td= payment.decorate.date_str

= link_to t('shared.back'), payments_path, class: 'btn btn-default'
